/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 2.813rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
p {
  font-size: 0.875rem;
}
body {
  background-color: hsl(0, 0%, 100%);
}
/* Button Styles */
button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  background-color: #597193;
  box-shadow: 0px 4px 12px 0px #15151526;
  width: 135px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
/* Header Styles */
header {
  width: 100%;
  background: #eaeff6;
  padding: 20px 0 0;
}
.header-container {
  max-width: 1110px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-container a {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 55px;
  text-align: left;
  color: #597193;
}
.nav-list {
  display: flex;
}
.nav-list li {
  font-family: "Average Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #353637;
  margin-left: 50px;
}
.nav-list li:first-child {
  color: #597193;
  border-bottom: 1.5px solid #597193;
}
.hamburger-menu i {
  display: none;
  font-size: 2.5rem;
  color: #597193;
  cursor: pointer;
}
/* Hero Styles */
.hero {
  width: 100%;
  background: #eaeff6;
  padding-top: 135px;
}
.hero-container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  margin-bottom: 85px;
}
.hero-text h1 {
  font-size: 2.183rem;
  font-weight: 600;
  text-align: left;
  color: #3d4550;
  width: 347px;
  margin-bottom: 2rem;
}
.hero-text h4 {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #939393;
  width: 452px;
  margin-bottom: 36px;
}
.hero-buttons {
  display: inline-flex;
  align-items: center;
  gap: 54px;
}
.hero-buttons a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #353637;
}
.hero-buttons a i {
  width: 40px;
  color: #597193;
  font-size: 2rem;
}
.hero-images {
  position: relative;
  margin-right: 95px;
}
.hero-images .main-img img {
  position: relative;
  z-index: 1010;
  bottom: -5px;
}
.hero-images .main-img .circle-white {
  width: 540px;
  height: 540px;
  background: #f6fcfa;
  border-radius: 50%;
  position: absolute;
  bottom: 65px;
  right: -95px;
  z-index: 1001;
  box-shadow: -5px 0px 39px 0px #76767614;
}
.hero-images .market-img img:first-child {
  position: absolute;
  bottom: 70px;
  right: 337px;
  z-index: 1002;
  box-shadow: -2px 12px 25px 0px #6161611a;
}
.hero-images .market-img img:last-child {
  position: absolute;
  top: 45px;
  left: 356px;
  z-index: 1002;
  box-shadow: 0px 8px 28px 0px #5454541a;
}
.hero .circle-icons .circle-1 {
  width: 10px;
  height: 10px;
  background: #c9d6e9;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  right: 650px;
}
.hero .circle-icons .circle-2 {
  width: 21px;
  height: 21px;
  background: #c9d6e9;
  border-radius: 50%;
  position: absolute;
  bottom: 490px;
  left: -150px;
}
.hero .circle-icons .circle-3 {
  width: 41px;
  height: 41px;
  background: #c9d6e9;
  border-radius: 50%;
  position: absolute;
  top: -42px;
  right: -45px;
}
.hero .circle-icons .circle-4 {
  width: 27px;
  height: 27px;
  background: #c9d6e9;
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  left: 375px;
}
section {
  max-width: 1110px;
  margin: auto;
}
/* Availability Section Styles*/
.availability-check {
  margin: 121px auto 118px;
}
.availability-title {
  width: 452px;
  text-align: center;
  margin: 0 auto;
}
.availability-title h2 {
  font-weight: 400;
  line-height: 55px;
  color: #353637;
  margin-bottom: 16px;
}
.availability-title h4 {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #959595;
}
.availability-form {
  margin-top: 46px;
  display: flex;
  position: relative;
}
.availability-form .form-image {
  min-width: 50%;
}
.availability-form .form-inputs > img {
  width: 74px;
  height: 74px;
  position: relative;
  bottom: 0px;
  left: 352px;
}
.availability-form .form-image img {
  background: #b1bed0;
  width: 100%;
  max-width: 637px;
  height: 523px;
  border-radius: 8px 0px 0px 8px;
}
.availability-form .form-inputs {
  width: 100%;
  max-width: 475px;
  background: #f6fcfa;
  padding: 70px 5%;
  border-radius: 0px 8px 8px 0px;
}
.availability-form .vectors img {
  position: absolute;
  top: 0;
  right: 0;
}
.availability-form .form-inputs label {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #222426;
}
.availability-form .form-inputs input {
  width: 100%;
  max-width: 339px;
  height: 50px;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: #636461;
  border: 1px solid #ababab;
  padding: 12px 14px;
  background: transparent;
}
.btn-check-availability {
  width: 93%;
  margin-top: 25px;
  max-width: 339px;
  height: 50px;
  border-radius: 2px;
  border: 1.5px solid #596b86;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #222426;
  box-shadow: none;
}
.availability-form .input-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.availability-form .input-icon img {
  position: relative;
  right: 40px;
  pointer-events: none;
}
/* Rooms Section Styles */
.rooms-container {
  display: flex;
  gap: 30px;
}
.room-header {
  text-align: center;
  margin-bottom: 46px;
}
.room-header h2 {
  font-weight: 400;
  line-height: 55px;
  color: #353637;
  margin-bottom: 16px;
}
.room-header h4 {
  width: 42%;
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #959595;
  margin: 0 auto;
}
.room-card img {
  width: 100%;
  height: 264px;
  border-radius: 6px 6px 0 0;
}
.room-details {
  border: 1px solid #596b86;
  margin-top: -5px;
  padding: 20px;
}
.room-details h3 {
  font-weight: 400;
  line-height: 55px;
  color: #131313;
}
.room-icons {
  color: #727272;
  display: flex;
  gap: 15px;
}
.room-icons div img {
  width: 18px;
  height: 12px;
  vertical-align: middle;
}
.room-icons span {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.room-price span:first-child {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 55px;
  color: #384d6c;
}
.room-price span:last-child {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 55px;
}
/* Services Section Styles */
.services {
  text-align: center;
  margin: 123px auto 118px;
}
.services-header h5 {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.26em;
  color: #597193;
  margin-bottom: 18px;
}
.services-header h2 {
  font-weight: 400;
  line-height: 55px;
  color: #353637;
}
.services-container {
  margin-top: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.service-box {
  border-radius: 2px;
  padding: 20px 30px;
  border: 1px solid #596b86;
}
.service-box .service-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.service-box .service-title h3 {
  font-weight: 400;
  color: #131313;
}
.service-box p {
  text-align: left;
  margin-top: 16px;
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #9b9b9b;
}
/* Stats Section Styles */
.stats {
  display: flex;
  justify-content: space-between;
}
.stats-item {
  padding: 0px 7%;
  position: relative;
}
.stats-item:not(:last-child)::after {
  content: "";
  height: 50px;
  border-left: 1px solid #ccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.stats-item p {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 55px;
  color: #596b86;
  padding-bottom: 10px;
}
.stats-item span {
  font-family: "Average Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #939393;
}
